---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostBlock from '../../components/BlogPostBlock.astro';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});

// Sort blog posts by newest publishDate first
blogPosts.sort((a, b) => {
    const dateA = new Date(a.data.publishDate).getTime();
    const dateB = new Date(b.data.publishDate).getTime();
    return dateB - dateA; // Sort in descending order
});
---

<BaseLayout title="Blog" description="KTrain5369's blog" tags="blog">
    <h1 class="text-center text-3xl font-bold my-5">My Blog</h1>
    <div class="flex flex-col flex-wrap justify-center items-center min-h-full gap-2 lg:gap-5 p-5">
        {blogPosts.map(post => (
            <div class="bg-gray-700 rounded-lg shadow-lg p-5 mb-2 lg:mb-5">
                <BlogPostBlock 
                    title={post.data.title} 
                    link={`/blog/${post.id.replace('.md', '')}`}
                    description={post.data.description && post.data.description} 
                    publishDate={post.data.publishDate} 
                />
            </div>
        ))}
    </div>
</BaseLayout>