---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectTile from '../../components/ProjectTile.astro';
import { getCollection } from 'astro:content';

const authorList = await getCollection('authors');
---

<BaseLayout title="Projects" description="Projects that KTrain5369 has contributed to." tags="list">
    <h1 class="text-center text-3xl font-bold my-5">Projects I maintain or have contributed to</h1>
    <div class="flex flex-col lg:flex-row flex-wrap justify-center items-center min-h-full gap-2 lg:gap-5 p-5">
        {authorList.map(author => (
            <div class="bg-gray-700 rounded-lg shadow-lg p-5 mb-2 lg:mb-5">
                <ProjectTile 
                    title={author.data.name}
                    page={`/author/${author.id.replace('.md', '')}`}
                    description={author.data.description}
                    icon={author.data.pfp}
                />
            </div>
        ))}
    </div>
</BaseLayout>