---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About" description="About KTrain5369" tags="about">
    <main class="flex-1 flex flex-col items-center justify-center">
        <h1 class="font-bold text-center my-5">About Me</h1>
        <p class="text-center items-center justify-center">I'm a lowly programmer that works with Python and HTML | CSS | JS/TS.</p>
        <p class="text-center items-center justify-center">I plan on learning more languages in the future.</p>
        <br>
        <p class="text-center items-center justify-center">This section will be populated later...</p>
        <br>
        <p class="text-center items-center justify-center">If you need to contact me via email, send emails to <a class="text-blue-500 hover:text-blue-700" href="mailto:contact@ktrain5369.me">contact@ktrain5369.me</a> and I will respond as soon as possible.</p>
    </main>
</BaseLayout>
