---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About" description="About KTrain5369" tags="about">
    <h1>About Me</h1>
    <p>Write something about yourself here.</p>
</BaseLayout>
