---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About" description="About KTrain5369" tags="about">
    <main class="flex-1 flex flex-col items-center justify-center">
        <h1 class="font-bold text-center my-5">About Me</h1>
        <p class="text-center items-center justify-center">I'm a lowly programmer that works with Python and HTML | CSS | JS/TS.</p>
        <p class="text-center items-center justify-center">I plan on learning more languages in the future.</p>
        <br>
        <p class="text-center items-center justify-center">This section will be populated later...</p>
        <br>
        <p class="text-center items-center justify-center">
            If you need to contact me for whatever reason, I check Discord pretty often. I am @ktrain5369 or you can click <a href="https://discord.com/users/703180970567925792" class="text-blue-400 hover:text-blue-500">this link</a> to have my profile pop up right away.
            <br>
            I recommend you join my Discord server first though so that I don't block you immediately.
        </p>
        <br>
        <p class="text-center items-center justify-center">If email contact is required, send an email to <a class="text-blue-500 hover:text-blue-700" href="mailto:contact@ktrain5369.me">contact@ktrain5369.me</a>. Be aware, however, that the mailbox is not frequently checked.</p>
    </main>
</BaseLayout>
