---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostBlock from '../components/BlogPostBlock.astro';
---
<BaseLayout title="Blog" description="KTrain5369's WIP blog" tags="blog">
    <h1 class="text-center text-3xl font-bold my-5">My Blog</h1>
    <div class="flex flex-wrap justify-center items-center min-h-screen gap-5 p-5">
        <div class="bg-gray-700 rounded-lg shadow-lg p-5">
            <BlogPostBlock title="Blog Post 1" link="/blog/test-blog" />
        </div>
        <!-- Add more blog posts as needed -->
    </div>
</BaseLayout>