---
const { title, description, link, type } = Astro.props;
const lowerCaseType = type.toLowerCase();
---

<div class="bg-gray-700 rounded-lg shadow-lg p-5 mb-2 lg:mb-5 w-full max-w-md">
    <p class="text-small text-grey">{type}</p>
    <h2 class="text-xl font-bold mb-2">{title}</h2>
    <p class="text-sm text-gray-300 mb-4">{description}</p>
    <a href={link} class="text-blue-400 hover:text-blue-500">{lowerCaseType === 'project' ? 'View Project' : 'Read More'}</a>
</div>