<footer>
    <p>© {new Date().getFullYear()} KTrain5369. Licensed under the MIT license.</p>
    <p><a href="https://github.com/KTrain5169/ktrain5169.github.io/blob/main/LICENSE">See the license</a>.</p>
</footer>