<footer class="text-center p-4 bg-gray-800 border-t border-gray-700 w-full">
    <p class="text-lg font-semibold">© {new Date().getFullYear()} KTrain5369. Licensed under the MIT license.</p>
    <p class="text-md">
        <a href="https://github.com/KTrain5169/ktrain5169.github.io" class="text-blue-400 hover:text-blue-500">View the source code</a>
         | 
        <a href="https://github.com/KTrain5169/ktrain5169.github.io/blob/main/LICENSE" class="text-blue-400 hover:text-blue-500">See the license</a>
    </p>
    <br>
    <p class="text-md">
        This site is a work in progress. <a href="/contribute" class="text-blue-400 hover:text-blue-500">Want to help?</a>
    </p>
    <p class="text-md">
        <a href="/attributions" class="text-blue-400 hover:text-blue-500">Thanks to these people/software for powering the site!</a>
    </p>
</footer>   