<footer class="text-center p-4 bg-gray-800 border-t border-gray-700 w-full">
    <p class="text-lg font-semibold">© {new Date().getFullYear()} KTrain5369. Licensed under the MIT license.</p>
    <p class="text-md">
        <a href="https://github.com/KTrain5169/ktrain5169.github.io/blob/main/LICENSE" class="text-blue-400 hover:text-blue-500">See the license</a>.
    </p>
</footer>   