<header class="bg-gray-800 p-2.5">
    <nav>
        <ul class="flex justify-center list-none p-0">
          <li class="mx-3.5">
            <a href="/" class="text-white no-underline">Home</a>
          </li>
          <li class="mx-3.5">
            <a href="/projects" class="text-white no-underline">Projects</a>
          </li>
          <li class="mx-3.5">
            <a href="/blog" class="text-white no-underline">Blog</a>
          </li>
          <li class="mx-3.5">
            <a href="/about" class="text-white no-underline">About</a>
          </li>
        </ul>
    </nav>
</header>
