---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MetaTag from "../components/MetaTag.astro";
import "../styles/global.css";

const { title } = Astro.props;
const meta = {
    title: `${title} (Blog) | KTrain5369`,
    description: `An idea by KTrain5369`,
    tags: `ideas`
};
---
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <MetaTag {...meta} />
    <title>{title} (Idea) | KTrain5369</title>
    <meta name="description" content="An idea by KTrain5369">
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body class="h-full m-0 flex flex-col bg-gray-900 text-white">
    <Header />
    <main class="flex-1 flex flex-col items-center justify-center p-4 sm:p-8 lg:p-12">
        <div class="bg-gray-700 rounded-lg shadow-lg p-4 sm:p-6 lg:p-8 max-w-full sm:max-w-lg lg:max-w-3xl w-full">
            <h1 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-5">{title}</h1>
            <hr class="my-4 border-gray-300" />
            <slot />
        </div>
    </main>
    <Footer />
</body>
</html>